ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.801);
  }
  
  li a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logout{
    float: right;
  }
.login{float: right;}
.logo{
 float:left;
    width:150px;
 
}