ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.801);
  }
  
  li a {
    float: left;
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logout{
    float: right;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    
  }
  .helloUser {
    cursor: default;
  }
.login{float: right;

  background-color: rgba(0, 0, 0, 0);
}
.logo{
 float:left;
    width:150px;
 
}

